{
BasedOnStyle: LLVM,
UseTab: Never,
IndentWidth: 4,
TabWidth: 8,
BreakBeforeBraces: Linux,
AllowShortIfStatementsOnASingleLine: false,
AllowShortFunctionsOnASingleLine: Inline,
AlwaysBreakTemplateDeclarations: true,
IndentCaseLabels: false,
ColumnLimit: 110,
AccessModifierOffset: -4,
NamespaceIndentation: All,
FixNamespaceComments: false,
}
